doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title IQAC AQAR
		link(rel='stylesheet', href='/css/dashboard.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/normalize.min.css')
		link(rel='stylesheet', href='/css/form.css')
		script.
			var username='#{cookies.user.username}';
	body
		.container-fluid.h-100
			nav.navbar.navbar-light.fixed-top(style='background-color: #e3f2fd;')
				a.navbar-brand(href='/dashboard') Back
				span.navbar-brand.mb-0.h1 IQAC Criterion 3 - #{cookies.user.username}
					if (cookies.user.username == 'HOQ' && cookies.department != 'HOQ')
						span.navbar-brand.mb-0.h1 - #{cookies.department}
				a.navbar-brand(href='/home') Logout
			.row.my-4
				.col
					form(action='/form/criterion3', method='POST')
						legend
							span.number 3
							| Research, Consultancy and Extension
						// 3.1, 3.8, 3.9, 3.21, 3.22, 3.23, 3.24, 3.25, 3.26 TO BE FILLED BY HOQ
						if cookies.department == 'HOQ'
							label 3.1 Initiatives of the IQAC in Sensitizing/Promoting Research Climate in the institution:
								span.badge.badge-primary HOQ
							.input-group
								textarea.form-control(type='string', name='iqac_initiatives_promoting_research', rows=4) #{form.iqac_initiatives_promoting_research}
						label 3.2 Details regarding major projects:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th
								th Completed
								th Ongoing
								th Sanctioned
								th Submitted
							tr
								th Number
								td
									input(type='number', name='major_project_details.completed.number', value=form.major_project_details.completed.number)
								td
									input(type='number', name='major_project_details.ongoing.number', value=form.major_project_details.ongoing.number)
								td
									input(type='number', name='major_project_details.sanctioned.number', value=form.major_project_details.sanctioned.number)
								td
									input(type='number', name='major_project_details.submitted.number', value=form.major_project_details.submitted.number)

							tr
								th Outlay in Rs. Lakhs
								td
									input(type='number', name='major_project_details.completed.outlay_in_lakhs', value=form.major_project_details.completed.outlay_in_lakhs)
								td
									input(type='number', name='major_project_details.ongoing.outlay_in_lakhs', value=form.major_project_details.ongoing.outlay_in_lakhs)

								td
									input(type='number', name='major_project_details.sanctioned.outlay_in_lakhs', value=form.major_project_details.sanctioned.outlay_in_lakhs)
								td
									input(type='number', name='major_project_details.submitted.outlay_in_lakhs', value=form.major_project_details.submitted.outlay_in_lakhs)
						label 3.3 Details regarding minor projects:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th
								th Completed
								th Ongoing
								th Sanctioned
								th Submitted
							tr
								th Number
								td
									input(type='number', name='minor_project_details.completed.number', value=form.minor_project_details.completed.number)
								td
									input(type='number', name='minor_project_details.ongoing.number', value=form.minor_project_details.ongoing.number)
								td
									input(type='number', name='minor_project_details.sanctioned.number', value=form.minor_project_details.sanctioned.number)
								td
									input(type='number', name='minor_project_details.submitted.number', value=form.minor_project_details.submitted.number)
							tr
								th Outlay in Rs. Lakhs
								td
									input(type='number', name='minor_project_details.completed.outlay_in_lakhs', value=form.minor_project_details.completed.outlay_in_lakhs)
								td
									input(type='number', name='minor_project_details.ongoing.outlay_in_lakhs', value=form.minor_project_details.ongoing.outlay_in_lakhs)
								td
									input(type='number', name='minor_project_details.sanctioned.outlay_in_lakhs', value=form.minor_project_details.sanctioned.outlay_in_lakhs)
								td
									input(type='number', name='minor_project_details.submitted.outlay_in_lakhs', value=form.minor_project_details.submitted.outlay_in_lakhs)
						label 3.4 Details on research publications:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th
								th International
								th National
								th Others
							tr
								th Peer Review Journals
								td
									input(type='number', name='research_publication_details.international.peer_review_journals', value=form.research_publication_details.international.peer_review_journals)
								td
									input(type='number', name='research_publication_details.national.peer_review_journals', value=form.research_publication_details.national.peer_review_journals)
								td
									input(type='number', name='research_publication_details.others.peer_review_journals', value=form.research_publication_details.others.peer_review_journals)
							tr
								th Non-Peer Review Journals
								td
									input(type='number', name='research_publication_details.international.non_peer_review_journals', value=form.research_publication_details.international.non_peer_review_journals)
								td
									input(type='number', name='research_publication_details.national.non_peer_review_journals', value=form.research_publication_details.national.non_peer_review_journals)
								td
									input(type='number', name='research_publication_details.others.non_peer_review_journals', value=form.research_publication_details.others.non_peer_review_journals)
							tr
								th e-Journals
								td
									input(type='number', name='research_publication_details.international.e_journals', value=form.research_publication_details.international.e_journals)
								td
									input(type='number', name='research_publication_details.national.e_journals', value=form.research_publication_details.national.e_journals)
								td
									input(type='number', name='research_publication_details.others.e_journals', value=form.research_publication_details.others.e_journals)
							tr
								th Conference proceedings
								td
									input(type='number', name='research_publication_details.international.conference_proceedings', value=form.research_publication_details.international.conference_proceedings)
								td
									input(type='number', name='research_publication_details.national.conference_proceedings', value=form.research_publication_details.national.conference_proceedings)
								td
									input(type='number', name='research_publication_details.others.conference_proceedings', value=form.research_publication_details.others.conference_proceedings)
						if cookies.department == 'HOQ'
							label 3.5 Details on Impact factor of publications:
								span.badge.badge-primary HOQ
							table(style='width:100%')
								tr
									th Range
									th Average
									th h-index
									th Nos. in SCOPUS
								tr
									td
										input(type='number', name='impact_factor_publication_details.range', value=form.impact_factor_publication_details.range)
									td
										input(type='number', name='impact_factor_publication_details.average', value=form.impact_factor_publication_details.average)
									td
										input(type='number', name='impact_factor_publication_details.index', value=form.impact_factor_publication_details.index)
									td
										input(type='number', name='impact_factor_publication_details.nos_of_scopus', value=form.impact_factor_publication_details.nos_of_scopus)
						label 3.6 Research funds sanctioned and received from various funding agencies, industry and other organisations:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th Nature of the Project
								th Duration Year
								th Name Of Funding Agency
								th Total Grant Sanctioned
								th Received
							tr
								th Major Projects
								td
									input(type='number', name='research_funds_sanctioned.major_project.duration_year', value=form.research_funds_sanctioned.major_project.duration_year)
								td
									input(type='number', name='research_funds_sanctioned.major_project.funding_agency_name', value=form.research_funds_sanctioned.major_project.funding_agency_name)
								td
									input(type='number', name='research_funds_sanctioned.major_project.total_grant_sanctioned', value=form.research_funds_sanctioned.major_project.total_grant_sanctioned)
								td
									input(type='number', name='research_funds_sanctioned.major_project.received', value=form.research_funds_sanctioned.major_project.received)
							tr
								th Minor Projects
								td
									input(type='number', name='research_funds_sanctioned.minor_project.duration_year', value=form.research_funds_sanctioned.minor_project.duration_year)
								td
									input(type='number', name='research_funds_sanctioned.minor_project.funding_agency_name', value=form.research_funds_sanctioned.minor_project.funding_agency_name)
								td
									input(type='number', name='research_funds_sanctioned.minor_project.total_grant_sanctioned', value=form.research_funds_sanctioned.minor_project.total_grant_sanctioned)
								td
									input(type='number', name='research_funds_sanctioned.minor_project.received', value=form.research_funds_sanctioned.minor_project.received)
							tr
								th Interdisciplinary Projects
								td
									input(type='number', name='research_funds_sanctioned.interdisciplinary_project.duration_year', value=form.research_funds_sanctioned.interdisciplinary_project.duration_year)
								td
									input(type='number', name='research_funds_sanctioned.interdisciplinary_project.funding_agency_name', value=form.research_funds_sanctioned.interdisciplinary_project.funding_agency_name)
								td
									input(type='number', name='research_funds_sanctioned.interdisciplinary_project.total_grant_sanctioned', value=form.research_funds_sanctioned.interdisciplinary_project.total_grant_sanctioned)
								td
									input(type='number', name='research_funds_sanctioned.interdisciplinary_project.received', value=form.research_funds_sanctioned.interdisciplinary_project.received)
							tr
								th Industry Sponsored
								td
									input(type='number', name='research_funds_sanctioned.industry_sponsored.duration_year', value=form.research_funds_sanctioned.industry_sponsored.duration_year)
								td
									input(type='number', name='research_funds_sanctioned.industry_sponsored.funding_agency_name', value=form.research_funds_sanctioned.industry_sponsored.funding_agency_name)
								td
									input(type='number', name='research_funds_sanctioned.industry_sponsored.total_grant_sanctioned', value=form.research_funds_sanctioned.industry_sponsored.total_grant_sanctioned)
								td
									input(type='number', name='research_funds_sanctioned.industry_sponsored.received', value=form.research_funds_sanctioned.industry_sponsored.received)
							tr
								th Projects sponsored by the University / College
								td
									input(type='number', name='research_funds_sanctioned.uni_sponsored_project.duration_year', value=form.research_funds_sanctioned.uni_sponsored_project.duration_year)
								td
									input(type='number', name='research_funds_sanctioned.uni_sponsored_project.funding_agency_name', value=form.research_funds_sanctioned.uni_sponsored_project.funding_agency_name)
								td
									input(type='number', name='research_funds_sanctioned.uni_sponsored_project.total_grant_sanctioned', value=form.research_funds_sanctioned.uni_sponsored_project.total_grant_sanctioned)
								td
									input(type='number', name='research_funds_sanctioned.uni_sponsored_project.received', value=form.research_funds_sanctioned.uni_sponsored_project.received)
							tr
								th Students Research Projects
								td
									input(type='number', name='research_funds_sanctioned.other_student_research_project.duration_year', value=form.research_funds_sanctioned.other_student_research_project.duration_year)
								td
									input(type='number', name='research_funds_sanctioned.other_student_research_project.funding_agency_name', value=form.research_funds_sanctioned.other_student_research_project.funding_agency_name)
								td
									input(type='number', name='research_funds_sanctioned.other_student_research_project.total_grant_sanctioned', value=form.research_funds_sanctioned.other_student_research_project.total_grant_sanctioned)
								td
									input(type='number', name='research_funds_sanctioned.other_student_research_project.received', value=form.research_funds_sanctioned.other_student_research_project.received)
							tr
								th Other Projects
								td
									input(type='number', name='research_funds_sanctioned.any_other_specify.duration_year', value=form.research_funds_sanctioned.any_other_specify.duration_year)
								td
									input(type='number', name='research_funds_sanctioned.any_other_specify.funding_agency_name', value=form.research_funds_sanctioned.any_other_specify.funding_agency_name)
								td
									input(type='number', name='research_funds_sanctioned.any_other_specify.total_grant_sanctioned', value=form.research_funds_sanctioned.any_other_specify.total_grant_sanctioned)
								td
									input(type='number', name='research_funds_sanctioned.any_other_specify.received', value=form.research_funds_sanctioned.any_other_specify.received)
							//-tr
								th Total
								td
									input(type='number', name='research_funds_sanctioned.total.duration_year', value=form.research_funds_sanctioned.total.duration_year)
								td
									input(type='number', name='research_funds_sanctioned.total.funding_agency_name', value=form.research_funds_sanctioned.total.funding_agency_name)
								td
									input(type='number', name='research_funds_sanctioned.total.total_grant_sanctioned', value=form.research_funds_sanctioned.total.total_grant_sanctioned)
								td
									input(type='number', name='research_funds_sanctioned.total.received', value=form.research_funds_sanctioned.total.received)
						label 3.7 No. of books published:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th With ISBN No.
								td
									input(type='number', name='no_of_books_published.with_isbn_no', value=form.no_of_books_published.with_isbn_no)
							tr
								th Without ISBN No.
								td
									input(type='number', name='no_of_books_published.without_isbn_no', value=form.no_of_books_published.without_isbn_no)
							tr
								th Chapters in edited books
								td
									input(type='number', name='no_of_books_published.chapters_in_edited_books', value=form.no_of_books_published.chapters_in_edited_books)
						if cookies.department == 'HOQ'
							label 3.8 No. of University Departments receiving funds from:
								span.badge.badge-primary HOQ
							table(style='width:100%')
								tr
									th UGC-SAP
									td
										input(type='number', name='no_of_uni_depts_receiving_funds.ugc_sap', value=form.no_of_uni_depts_receiving_funds.ugc_sap)
								tr
									th CAS
									td
										input(type='number', name='no_of_uni_depts_receiving_funds.cas', value=form.no_of_uni_depts_receiving_funds.cas)
								tr
									th DST-FIST
									td
										input(type='number', name='no_of_uni_depts_receiving_funds.dst_fist', value=form.no_of_uni_depts_receiving_funds.dst_fist)
								tr
									th DPE
									td
										input(type='number', name='no_of_uni_depts_receiving_funds.dpe', value=form.no_of_uni_depts_receiving_funds.dpe)
								tr
									th DBT Scheme/funds
									td
										input(type='number', name='no_of_uni_depts_receiving_funds.dbt_scheme_funds', value=form.no_of_uni_depts_receiving_funds.dbt_scheme_funds)
							label 3.9 For colleges:
								span.badge.badge-primary HOQ
							table(style='width:100%')
								tr
									th Autonomy
									td
										input(type='number', name='for_colleges.autonomy', value=form.for_colleges.autonomy)
								tr
									th CPE
									td
										input(type='number', name='for_colleges.cpe', value=form.for_colleges.cpe)
								tr
									th DBT Star Scheme
									td
										input(type='number', name='for_colleges.dbt_star_scheme', value=form.for_colleges.dbt_star_scheme)
								tr
									th INSPIRE
									td
										input(type='number', name='for_colleges.inspire', value=form.for_colleges.inspire)
								tr
									th CE
									td
										input(type='number', name='for_colleges.ce', value=form.for_colleges.ce)
								tr
									th Any Other(specify)
									td
										input(type='number', name='for_colleges.any_other_specify', value=form.for_colleges.any_other_specify)
						label 3.10 Revenue generated through consultancy(Rs. in lakhs):
							span.badge.badge-success DEPARTMENT
							input(type='number', name='revenue_generated_through_consultancy', value=form.revenue_generated_through_consultancy)
						label 3.11 No. of conferences organized:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th Level
								th International
								th National
								th State
								th University
								th College
							tr
								th Number
								td
									input(type='number', name='conferences_organized_by_institution.number.international', value=form.conferences_organized_by_institution.number.international)
								td
									input(type='number', name='conferences_organized_by_institution.number.national', value=form.conferences_organized_by_institution.number.national)
								td
									input(type='number', name='conferences_organized_by_institution.number.state', value=form.conferences_organized_by_institution.number.state)
								td
									input(type='number', name='conferences_organized_by_institution.number.university', value=form.conferences_organized_by_institution.number.university)
								td
									input(type='number', name='conferences_organized_by_institution.number.college', value=form.conferences_organized_by_institution.number.college)
							tr
								th Sponsoring agencies
								td
									input(type='number', name='conferences_organized_by_institution.sponsoring_agencies.international', value=form.conferences_organized_by_institution.sponsoring_agencies.international)
								td
									input(type='number', name='conferences_organized_by_institution.sponsoring_agencies.national', value=form.conferences_organized_by_institution.sponsoring_agencies.national)
								td
									input(type='number', name='conferences_organized_by_institution.sponsoring_agencies.state', value=form.conferences_organized_by_institution.sponsoring_agencies.state)
								td
									input(type='number', name='conferences_organized_by_institution.sponsoring_agencies.university', value=form.conferences_organized_by_institution.sponsoring_agencies.university)
								td
									input(type='number', name='conferences_organized_by_institution.sponsoring_agencies.college', value=form.conferences_organized_by_institution.sponsoring_agencies.college)
						label 3.12 No. of faculty served as experts, chairpersons or resource persons:
							span.badge.badge-success DEPARTMENT
						input(type='number', name='no_of_faculty_served_chairperson_resource_expert', value=form.no_of_faculty_served_chairperson_resource_expert)
						label 3.13 No. of collaborations:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th International
								td
									input(type='number', name='no_of_collaborations.international', value=form.no_of_collaborations.international)
							tr
								th National
								td
									input(type='number', name='no_of_collaborations.national', value=form.no_of_collaborations.national)
							tr
								th Any
								td
									input(type='number', name='no_of_collaborations.any_other', value=form.no_of_collaborations.any_other)
						label 3.14 No. of linkages created during this year:
							span.badge.badge-success DEPARTMENT
						input(type='number', name='no_of_linkages_created_during_the_year', value=form.no_of_linkages_created_during_the_year)
						label 3.15 Total budget for research for current year in lakhs:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th From Funding agency
								td
									input(type='number', name='current_year_research_budget_in_lakhs.from_funding_agency', value=form.current_year_research_budget_in_lakhs.from_funding_agency)
							tr
								th From College management
								td
									input(type='number', name='current_year_research_budget_in_lakhs.from_uni_college', value=form.current_year_research_budget_in_lakhs.from_uni_college)
							tr
								th Total
								td
									input(type='number', name='current_year_research_budget_in_lakhs.total', value=form.current_year_research_budget_in_lakhs.total)
						label 3.16 No. of patents received this year:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th(rowspan='2') International
								th Applied
								td
									input(type='number', name='no_of_patents.international.applied', value=form.no_of_patents.international.applied)
							tr
								th Granted
								td
									input(type='number', name='no_of_patents.international.granted', value=form.no_of_patents.international.granted)
							tr
								th(rowspan='2') National
								th Applied
								td
									input(type='number', name='no_of_patents.national.applied', value=form.no_of_patents.national.applied)
							tr
								th Granted
								td
									input(type='number', name='no_of_patents.national.granted', value=form.no_of_patents.national.granted)
							tr
								th(rowspan='2') Commercialised
								th Applied
								td
									input(type='number', name='no_of_patents.commercialized.applied', value=form.no_of_patents.commercialized.applied)
							tr
								th Granted
								td
									input(type='number', name='no_of_patents.commercialized.granted', value=form.no_of_patents.commercialized.granted)
						label 3.17 No. of research awards/ recognitions received by faculty and research fellows Of the institute in the year:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th Total
								td
									input(type='number', name='no_of_awards_recognition_faculty_research_fellows.total', value=form.no_of_awards_recognition_faculty_research_fellows.total)
							tr
								th International
								td
									input(type='number', name='no_of_awards_recognition_faculty_research_fellows.international', value=form.no_of_awards_recognition_faculty_research_fellows.international)
							tr
								th National
								td
									input(type='number', name='no_of_awards_recognition_faculty_research_fellows.national', value=form.no_of_awards_recognition_faculty_research_fellows.national)
							tr
								th State
								td
									input(type='number', name='no_of_awards_recognition_faculty_research_fellows.state', value=form.no_of_awards_recognition_faculty_research_fellows.state)
							tr
								th University
								td
									input(type='number', name='no_of_awards_recognition_faculty_research_fellows.university', value=form.no_of_awards_recognition_faculty_research_fellows.university)
							tr
								th Dist
								td
									input(type='number', name='no_of_awards_recognition_faculty_research_fellows.district', value=form.no_of_awards_recognition_faculty_research_fellows.district)
							tr
								th College
								td
									input(type='number', name='no_of_awards_recognition_faculty_research_fellows.college', value=form.no_of_awards_recognition_faculty_research_fellows.college)
						label 3.18 No. of faculty from the Institution who are Ph. D. Guides and students registered under them:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th No. of Ph.D. guides
								td
									.input-group
										textarea.form-control(type='string', name='faculty_count.phd_guides', rows=4) #{form.faculty_count.phd_guides}
							tr
								th No. of registered students
								td
									.input-group
										textarea.form-control(type='string', name='faculty_count.students_registered_under_them', rows=4) #{form.faculty_count.students_registered_under_them}
						label 3.19 No. of Ph.D. awarded by faculty from the Institution:
							span.badge.badge-success DEPARTMENT
						input(type='number', name='no_of_phd_awarded_institution_faculty', value=form.no_of_phd_awarded_institution_faculty)
						if cookies.department == 'HOQ'
							label 3.20 No. of Research scholars receiving the Fellowships (Newly enrolled + existing ones):
								span.badge.badge-primary HOQ
							table(style='width:100%')
								tr
									th JRF
									td
										input(type='number', name='no_of_research_scholars_receiving_fellowships.jrf', value=form.no_of_research_scholars_receiving_fellowships.jrf)
								tr
									th SRF
									td
										input(type='number', name='no_of_research_scholars_receiving_fellowships.srf', value=form.no_of_research_scholars_receiving_fellowships.srf)
								tr
									th Project fellows
									td
										input(type='number', name='no_of_research_scholars_receiving_fellowships.project_fellows', value=form.no_of_research_scholars_receiving_fellowships.project_fellows)
								tr
									th Any other
									td
										input(type='number', name='no_of_research_scholars_receiving_fellowships.any_other', value=form.no_of_research_scholars_receiving_fellowships.any_other)
							if cookies.user.username == 'HOQ'
								label 3.21 No. of students Participated in NSS events:
									span.badge.badge-primary HOQ
								table(style='width:100%')
									tr
										th University level
										td
											input(type='number', name='nss_student_participants.university_level', value=form.nss_student_participants.university_level)
									tr
										th State level
										td
											input(type='number', name='nss_student_participants.state_level', value=form.nss_student_participants.state_level)
									tr
										th International level
										td
											input(type='number', name='nss_student_participants.international_level', value=form.nss_student_participants.international_level)
									tr
										th National level
										td
											input(type='number', name='nss_student_participants.national_level', value=form.nss_student_participants.national_level)
								label 3.22 No. of students participated in NCC events:
									span.badge.badge-primary HOQ
								table(style='width:100%')
									tr
										th University level
										td
											input(type='number', name='ncc_student_participation.university_level', value=form.nss_student_participants.university_level)
									tr
										th State level
										td
											input(type='number', name='ncc_student_participation.state_level', value=form.nss_student_participants.state_level)
									tr
										th International level
										td
											input(type='number', name='ncc_student_participation.international_level', value=form.nss_student_participants.international_level)
									tr
										th National level
										td
											input(type='number', name='ncc_student_participation.national_level', value=form.nss_student_participants.national_level)
								label 3.23 No. of Awards won in NSS:
									span.badge.badge-primary HOQ
								table(style='width:100%')
									tr
										th University level
										td
											input(type='number', name='no_of_awards_in_nss.university_level', value=form.nss_student_participants.university_level)
									tr
										th State level
										td
											input(type='number', name='no_of_awards_in_nss.state_level', value=form.nss_student_participants.state_level)
									tr
										th International level
										td
											input(type='number', name='no_of_awards_in_nss.international_level', value=form.nss_student_participants.international_level)
									tr
										th National level
										td
											input(type='number', name='no_of_awards_in_nss.national_level', value=form.nss_student_participants.national_level)
								label 3.24 No. of Awards won in NCC:
									span.badge.badge-primary HOQ
								table(style='width:100%')
									tr
										th University level
										td
											input(type='number', name='no_of_awards_in_ncc.university_level', value=form.nss_student_participants.university_level)
									tr
										th State level
										td
											input(type='number', name='no_of_awards_in_ncc.state_level', value=form.nss_student_participants.state_level)
									tr
										th International level
										td
											input(type='number', name='no_of_awards_in_ncc.international_level', value=form.nss_student_participants.international_level)
									tr
										th National level
										td
											input(type='number', name='no_of_awards_in_ncc.national_level', value=form.nss_student_participants.national_level)
								label 3.25 No. of Extension activities organized:
									span.badge.badge-primary HOQ
								table(style='width:100%')
									tr
										th University forum
										td
											input(type='number', name='no_of_extension_activities_organized.university_forum', value=form.no_of_extension_activities_organized.university_forum)
									tr
										th College forum
										td
											input(type='number', name='no_of_extension_activities_organized.college_forum', value=form.no_of_extension_activities_organized.college_forum)
									tr
										th NCC
										td
											input(type='number', name='no_of_extension_activities_organized.ncc', value=form.no_of_extension_activities_organized.ncc)
									tr
										th NSS
										td
											input(type='number', name='no_of_extension_activities_organized.nss', value=form.no_of_extension_activities_organized.nss)
									tr
										th Any other
										td
											input(type='number', name='no_of_extension_activities_organized.any_other', value=form.no_of_extension_activities_organized.any_other)
								label 3.26 Major Activities during the year in the sphere of extension activities and Institutional Social Responsibility:
									span.badge.badge-primary HOQ
								.input-group
									textarea.form-control(type='string', name='major_activities', rows=4) #{form.major_activities}
						button.fixed-but(type='submit') SAVE
				//-script(src='/js/form.js')
