doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title IQAC Form(Criterion – VI)
    link(rel='stylesheet', href='../css/normalize.min.css')
    link(rel='stylesheet', href='../css/form.css')
  body
    .top-cont
      .top-line
        div(style='float: right')
          button#back(type='button') BACK
        div(style='float: left')
          button(type='submit') SAVE
    .bot-cont
      form(action='index.html', method='post')
        h1 Criterion – VI
        h2 CSE
        fieldset
          legend
            span.number 6
            | Governance, Leadership and Management
          // EXCEPT  6.3.8 the rest TO BE FILLED BY HOQ
          label 6.1 State the Vision and Mission of the institution:
          input(type='text', name='form.vision_mission_institute', value=form.vision_mission_institute)
          label 6.2 Does the Institution has a management Information System:
          input(type='text', name='form.info_management_system', value=form.info_management_system)
          label
            | 6.3 Quality improvement strategies adopted by the institution for each of the following:
          label 6.3.1 Curriculum Development:
          input(type='text', name='form.improvement_strategies.curriculum_development', value=form.improvement_strategies.curriculum_development)
          label 6.3.2 Teaching and Learning:
          input(type='text', name='form.improvement_strategies.teaching_and_learning', value=form.improvement_strategies.teaching_and_learning)
          label 6.3.3 Examination and Evaluation:
          input(type='text', name='form.improvement_strategies.exam_and_evaluation', value=form.improvement_strategies.exam_and_evaluation)
          label 6.3.4 Research and Development:
          input(type='text', name='form.improvement_strategies.research_and_development', value=form.improvement_strategies.research_and_development)
          label 6.3.5 Library, ICT and physical infrastructure/instrumentation:
          input(type='text', name='form.improvement_strategies.physical_infrastructure', value=form.improvement_strategies.physical_infrastructure)
          label 6.3.6 Human Resource Management:
          input(type='text', name='form.improvement_strategies.human_resource_management', value=form.improvement_strategies.human_resource_management)
          label 6.3.7 Faculty and Staff recruitment:
          input(type='text', name='form.improvement_strategies.faculty_staff_recruitment', value=form.improvement_strategies.faculty_staff_recruitment)
          label
            | 6.3.8   Industry Interaction / Collaboration (students projects, in-plant training, MOU, consultancy, visitors, guest lectures, training):
          table(style='width:100%')
            tr
              th Student projects
              th In-plant training
              th MOU
              th(colspan='2') Consultancy
              th Guest lectures
              th Training
            tr
              th
              th
              th
              th No.
              th Amount (in lakhs)
              th
              th
            tr
              td
                input(type='number', name='r1c3', value='')
              td
                input(type='number', name='r1c3', value='')
              td
                input(type='number', name='r1c3', value='')
              td
                input(type='number', name='r1c3', value='')
              td
                input(type='number', name='r1c3', value='')
              td
                input(type='number', name='r1c3', value='')
              td
                input(type='number', name='r1c3', value='')
          label 6.3.9 Admission of Students:
          input(type='text', name='rwv', value='')
          label 6.4 Welfare schemes for:
          table(width='100%')
            tr
              th Teaching
              th Non-Teaching
              th Students
            tr
              td
                input(type='text', name='rwv', value='')
              td
                input(type='text', name='rwv', value='')
              td
                input(type='text', name='rwv', value='')
          label 6.5 Total corpus fund generated:
          input(type='number', name='rwv', value='')
          label 6.6 Whether annual financial audit has been done:
          input(type='radio', name='rwv', value='')
          | Yes
          input(type='radio', name='rwv', value='')
          | No
          label 6.7 Whether Academic and Administrative Audit (AAA) has been done?
          table(width='100%')
            tr
              th State/ University level
              th(colspan='2') National level
              th(colspan='2') International level
            tr
              th
              th Yes/No
              th Agency
              th Yes/No
              th Agency
            tr
              th Academic
              td
                input(type='string', name='rwv', value='')
              td
                input(type='string', name='rwv', value='')
              td
                input(type='string', name='rwv', value='')
              td
                input(type='string', name='rwv', value='')
            tr
              th Administrative
              td
                input(type='string', name='rwv', value='')
              td
                input(type='string', name='rwv', value='')
              td
                input(type='string', name='rwv', value='')
              td
                input(type='string', name='rwv', value='')
          label 6.8 Does the University/ Autonomous College declares results within 30 days?
          label For UG Programmes:
          input(type='radio', name='rwv', value='')
          | Yes
          input(type='radio', name='rwv', value='')
          | No
          label For PG Programmes:
          input(type='radio', name='rwv', value='')
          | Yes
          input(type='radio', name='rwv', value='')
          | No
          label
            | 6.9 What efforts are made by the University/ Autonomous College for Examination Reforms?
          input(type='string', name='rfev', value='')
          label
            | 6.10 What efforts are made by the University to promote autonomy in the affiliated/constituent colleges?
          input(type='text', name='r1c3', value='')
          label 6.11 Activities and support from the Alumni Association
          input(type='text', name='r1c3', value='')
          label 6.12 Activities and support from the Parent – Teacher Association:
          input(type='text', name='r1c3', value='')
          label 6.13 Development programmes for support staff:
          input(type='text', name='r1c3', value='')
          label 6.14 Initiatives taken by the institution to make the campus eco-friendly:
          input(type='text', name='r1c3', value='')
