doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title IQAC AQAR
		link(rel='stylesheet', href='/css/dashboard.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/normalize.min.css')
		link(rel='stylesheet', href='/css/form.css')
		script.
			var username='#{cookies.user.username}';
	body
		.container-fluid.h-100
			nav.navbar.navbar-light.fixed-top(style='background-color: #e3f2fd;')
				a.navbar-brand(href='/dashboard') Back
				span.navbar-brand.mb-0.h1 IQAC Criterion 2 - #{cookies.user.username}
				a.navbar-brand(href='/home') Logout
			.row.my-4
				.col
					form(action='/form/criterion2hoq', method='POST')
						legend
							span.number 2.
							| Teaching, Learning and Evaluation
						label 2.1 Total No. of permanent faculty:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th Asst. Professors
								th Associate Professors
								th Professors
								th Others
							tr
								td
									.input-group
										input.form-control(type='number', name='permanent_faculty.asst_prof', value=form.permanent_faculty.asst_prof)
								td
									.input-group
										input.form-control(type='number', name='permanent_faculty.asso_prof', value=form.permanent_faculty.asso_prof)
								td
									.input-group
										input.form-control(type='number', name='permanent_faculty.prof', value=form.permanent_faculty.prof)
								td
									.input-group
										input.form-control(type='number', name='permanent_faculty.others', value=form.permanent_faculty.others)
								//td
									.input-group
										input.form-control(type='number', name='permanent_faculty.total', value=form.permanent_faculty.total)
						label 2.2 No. of permanent faculty with Ph.D.:
							span.badge.badge-success DEPARTMENT
						.input-group
							input.form-control(type='number', name='permanent_faculty_phd', value=form.permanent_faculty_phd)
						label 2.3 No. of Faculty Positions Recruited (R) and Vacant (V) during the year
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th(colspan='2') Asst. Professors
								th(colspan='2') Associate Professors
								th(colspan='2') Professors
								th(colspan='2') Others
								//-th(colspan='2') Total
							tr
								th R
								th V
								th R
								th V
								th R
								th V
								th R
								th V
								//-th R
								//-th V
							tr
								td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.asst_prof.recruited', value=form.faculty_pos_recruited_vacant.asst_prof.recruited)
								td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.asst_prof.vacant', value=form.faculty_pos_recruited_vacant.asst_prof.vacant)
								td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.asso_prof.recruited', value=form.faculty_pos_recruited_vacant.asso_prof.recruited)
								td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.asso_prof.vacant', value=form.faculty_pos_recruited_vacant.asso_prof.vacant)
								td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.prof.recruited', value=form.faculty_pos_recruited_vacant.prof.recruited)
								td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.prof.vacant', value=form.faculty_pos_recruited_vacant.prof.vacant)
								td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.others.recruited', value=form.faculty_pos_recruited_vacant.others.recruited)
								td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.others.vacant', value=form.faculty_pos_recruited_vacant.others.vacant)
								//td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.total.recruited', value=form.faculty_pos_recruited_vacant.total.recruited)
								//td
									.input-group
										input.form-control(type='number', name='faculty_pos_recruited_vacant.total.vacant', value=form.faculty_pos_recruited_vacant.total.vacant)
						label 2.4 No. of Guest and Visiting faculty and Temporary faculty:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th Guest
								th Visiting Faculty
								th Temporary
							tr
								td
									.input-group
										input.form-control(type='number', name='guest_visit_temp_faculty.guest', value=form.guest_visit_temp_faculty.guest)
								td
									.input-group
										input.form-control(type='number', name='guest_visit_temp_faculty.visiting', value=form.guest_visit_temp_faculty.visiting)
								td
									.input-group
										input.form-control(type='number', name='guest_visit_temp_faculty.temporary', value=form.guest_visit_temp_faculty.temporary)
						label 2.5 Faculty participation in conferences and symposia:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th(colspan='3') International Level
								th(colspan='3') National Level
								th(colspan='3') State Level
							tr
								th Attended Seminars/ Workshops
								th Presented papers
								th Resource Persons
								th Attended Seminars/ Workshops
								th Presented papers
								th Resource Persons
								th Attended Seminars/ Workshops
								th Presented papers
								th Resource Persons
							tr
								td
									.input-group
										input.form-control(type='number', name='faculty_participation.international.seminar_workshop', value=form.faculty_participation.international.seminar_workshop)
								td
									.input-group
										input.form-control(type='number', name='faculty_participation.international.paper_presented', value=form.faculty_participation.international.paper_presented)
								td
									.input-group
										input.form-control(type='number', name='faculty_participation.international.resource_persons', value=form.faculty_participation.international.resource_persons)
								td
									.input-group
										input.form-control(type='number', name='faculty_participation.national.seminar_workshop', value=form.faculty_participation.national.seminar_workshop)
								td
									.input-group
										input.form-control(type='number', name='faculty_participation.national.paper_presented', value=form.faculty_participation.national.paper_presented)
								td
									.input-group
										input.form-control(type='number', name='faculty_participation.national.resource_persons', value=form.faculty_participation.national.resource_persons)
								td
									.input-group
										input.form-control(type='number', name='faculty_participation.state.seminar_workshop', value=form.faculty_participation.state.seminar_workshop)
								td
									.input-group
										input.form-control(type='number', name='faculty_participation.state.paper_presented', value=form.faculty_participation.state.paper_presented)
								td
									.input-group
										input.form-control(type='number', name='faculty_participation.state.resource_persons', value=form.faculty_participation.state.resource_persons)
						//TO BE FILLED BY HOQ
						label 2.6 Innovative processes adopted by the institution in Teaching and Learning:
							span.badge.badge-primary HOQ
						.input-group
							textarea.form-control(type='string', name='innovative_process_adopted', rows=4) #{form.innovative_process_adopted}
						label 2.7 Total No. of actual teaching days during this academic year:
							span.badge.badge-primary HOQ
						.input-group
							input.form-control(type='number', name='actual_teaching_days', value=form.actual_teaching_days)
						label 2.8 Examination/ Evaluation Reforms initiated by the Institution:
							span.badge.badge-primary HOQ
						label (for example: Open Book Examination, Bar Coding,Double Valuation, Photocopy, Online Multiple Choice Questions)
						.input-group
							input.form-control(type='number', name='exam_reforms_initiated', value=form.exam_reforms_initiated)
						label 2.9 No. of faculty members involved in curriculum, Restructuring/revision/syllabus development as member of Board of Study/Faculty/Curriculum Development workshop:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th Board of Study
								th Faculty
								th Curriculum Development Workshop
							tr
								td
									.input-group
										input.form-control(type='number', name='curriculum_incharge_faculty_members.member_board', value=form.curriculum_incharge_faculty_members.member_board)
								td
									.input-group
										input.form-control(type='number', name='curriculum_incharge_faculty_members.faculty_dev_workshop', value=form.curriculum_incharge_faculty_members.faculty_dev_workshop)
								td
									.input-group
										input.form-control(type='number', name='curriculum_incharge_faculty_members.curriculum_revision', value=form.curriculum_incharge_faculty_members.curriculum_revision)
						label 2.10 Average percentage of attendance of students:
							span.badge.badge-success DEPARTMENT
						.input-group
							input.form-control(type='number', name='avg_student_attendance', value=form.avg_student_attendance)
						label 2.11 Course/Programme wise distribution of pass percentage:
							span.badge.badge-success DEPARTMENT
						table#table11(style='width:100%')
							tr
								th(rowspan='2') Title of the programme
								th(rowspan='2') Total number of students appeared
								th(colspan='4') Division
							tr
								th Distinction%
								th I%
								th II%
								th III%
							each val, index in ['ATM', 'BTC', 'CHE', 'CSE', 'CVE', 'ECE', 'EEE', 'IT', 'MAR', 'MEC']
								tr
									td= val
									td
										.input-group
											input.form-control(type='number', name='c1r' + index, value=form.pass_percent_dist[index].students_appeared)
									td
										.input-group
											input.form-control(type='number', name='c2r' + index, value=form.pass_percent_dist[index].division.distinction_percent)
									td
										.input-group
											input.form-control(type='number', name='c3r' + index, value=form.pass_percent_dist[index].division.percent_one)
									td
										.input-group
											input.form-control(type='number', name='c4r' + index, value=form.pass_percent_dist[index].division.percent_two)
									td
										.input-group
											input.form-control(type='number', name='c5r' + index, value=form.pass_percent_dist[index].division.percent_three)
						//TO BE FILLED BY HOQ
						label 2.12 How does IQAC Contribute/Monitor/Evaluate the Teaching & Learning processes:
							span.badge.badge-primary HOQ
						.input-group
							textarea.form-control(type='string', name='iqac_contribution', rows=4) #{form.iqac_contribution}
						label 2.13 Initiatives undertaken towards faculty development:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th Faculty / Staff Development Programmes
								th Number of faculty benefitted
							tr
							tr
								th Refresher courses
								td
									.input-group
										input.form-control(type='number', name='faculty_dev_initiative.refresher_courses', value=form.faculty_dev_initiative.refresher_courses)
							tr
								th UGC – Faculty Improvement Programme
								td
									.input-group
										input.form-control(type='number', name='faculty_dev_initiative.ugc_fac_improvement_prog', value=form.faculty_dev_initiative.ugc_fac_improvement_prog)
							tr
								th HRD programmes
								td
									.input-group
										input.form-control(type='number', name='faculty_dev_initiative.hrd_programme', value=form.faculty_dev_initiative.hrd_programme)
							tr
								th Orientation programmes
								td
									.input-group
										input.form-control(type='number', name='faculty_dev_initiative.orientation_programme', value=form.faculty_dev_initiative.orientation_programme)
							tr
								th Faculty exchange programme
								td
									.input-group
										input.form-control(type='number', name='faculty_dev_initiative.fac_exchange_programme', value=form.faculty_dev_initiative.fac_exchange_programme)
							tr
								th Staff training conducted by the university
								td
									.input-group
										input.form-control(type='number', name='faculty_dev_initiative.staff_training_univ', value=form.faculty_dev_initiative.staff_training_univ)
							tr
								th Staff training conducted by other institutions
								td
									.input-group
										input.form-control(type='number', name='faculty_dev_initiative.staff_training_other', value=form.faculty_dev_initiative.staff_training_other)
							tr
								th Summer / Winter schools, Workshops, etc.
								td
									.input-group
										input.form-control(type='number', name='faculty_dev_initiative.summer_winter_workshops', value=form.faculty_dev_initiative.summer_winter_workshops)
							tr
								th Others
								td
									.input-group
										input.form-control(type='number', name='faculty_dev_initiative.others', value=form.faculty_dev_initiative.others)
						label 2.14 Details of Administrative and Technical staff:
							span.badge.badge-success DEPARTMENT
						table(style='width:100%')
							tr
								th(colspan='2') Number of Permanent Employees
								th(colspan='2') Number of Vacant Positions
								th(colspan='2') Number of permanent positions filled during the Year
								th(colspan='2') Number of positions filled temporarily
							tr
								th Administrative Staff
								th Technical Staff
								th Administrative Staff
								th Technical Staff
								th Administrative Staff
								th Technical Staff
								th Administrative Staff
								th Technical Staff
							tr
								td
									.input-group
										input.form-control(type='number', name='admin_tech_staff.permanent_employees.admin', value=form.admin_tech_staff.permanent_employees.admin)
								td
									.input-group
										input.form-control(type='number', name='admin_tech_staff.permanent_employees.technical', value=form.admin_tech_staff.permanent_employees.technical)
								td
									.input-group
										input.form-control(type='number', name='admin_tech_staff.vacant_positions.admin', value=form.admin_tech_staff.vacant_positions.admin)
								td
									.input-group
										input.form-control(type='number', name='admin_tech_staff.vacant_positions.technical', value=form.admin_tech_staff.vacant_positions.technical)
								td
									.input-group
										input.form-control(type='number', name='admin_tech_staff.permanent_positions_filled.admin', value=form.admin_tech_staff.permanent_positions_filled.admin)
								td
									.input-group
										input.form-control(type='number', name='admin_tech_staff.permanent_positions_filled.technical', value=form.admin_tech_staff.permanent_positions_filled.technical)
								td
									.input-group
										input.form-control(type='number', name='admin_tech_staff.temporary_positions_filled.admin', value=form.admin_tech_staff.temporary_positions_filled.admin)
								td
									.input-group
										input.form-control(type='number', name='admin_tech_staff.temporary_positions_filled.technical', value=form.admin_tech_staff.temporary_positions_filled.technical)
						input(type='hidden', name='row_val', value=length)
						button.fixed-but(type='submit') SAVE
				//-script(src='/js/form.js')
