doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title IQAC AQAR
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/normalize.min.css')
    link(rel='stylesheet', href='/css/form.css')
    script.
      var username='#{cookies.user.username}';
  body
    .container-fluid.h-100
      nav.navbar.navbar-light.fixed-top(style='background-color: #e3f2fd;')
        a.navbar-brand(href='/dashboard') Back
        span.navbar-brand.mb-0.h1 IQAC Part A-1 - #{cookies.user.username}
        a.navbar-brand(href='/home') Logout
      .row.my-4
        .col
          form(action='/form/details', method='post')
            legend
              span.number 1
              | Details Of Institution
            // TO BE FILLED BY HOQ
            label 1.1 Name of the Institution:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.institution_name', value=form.institution_details.institution_name)
            label 1.2
            label Address Line 1:
              span.badge.badge-primary HOQ
            .input-group
              textarea.form-control(type='string', name='institution_details.address_line_1') #{form.institution_details.address_line_1}
            label Address Line 2:
              span.badge.badge-primary HOQ
            .input-group
              textarea.form-control(type='string', name='institution_details.address_line_2') #{form.institution_details.address_line_2}
            label City/Town:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.city_or_town', value=form.institution_details.city_or_town)
            label State:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.state', value=form.institution_details.state)
            label Pin code:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.pincode', value=form.institution_details.pincode)
            label Institution e-mail address:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.institute_email', value=form.institution_details.institute_email)
            label Contact Number:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.contact_numbers', value=form.institution_details.contact_numbers)
            label Name of the Head of the Institution:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.institution_head', value=form.institution_details.institution_head)
            label Telephone Number with STD Code:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.telephone_no_with_std_code', value=form.institution_details.telephone_no_with_std_code)
            label Mobile:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.mobile_number', value=form.institution_details.mobile_number)
            label Name of the IQAC Co-ordinator:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.iqac_coordinator', value=form.institution_details.iqac_coordinator)
            label Mobile:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.iqac_coordinator_mobile', value=form.institution_details.iqac_coordinator_mobile)
            label IQACe-mail address:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='institution_details.iqac_email', value=form.institution_details.iqac_email)
            label 1.3 NAAC Track ID (For ex. MHCOGN 18879):
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='naac_track_id', value=form.naac_track_id)
            label 1.4 NAAC Executive Committee No. & Date:(For Example EC/32/A&A/143 dated 3-5-2004.This EC no. is available in the right corner- bottom of your institution’s Accreditation Certificate)
              span.badge.badge-primary HOQ
            .input-group
              textarea.form-control(type='string', name='naac_executive_commitee_no_date') #{form.naac_executive_commitee_no_date}
            label 1.5
            label Website address:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='website_address', value=form.website_address)
            label Web-link of the AQAR:
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='aqar_web_link', value=form.aqar_web_link)
            label 1.6 Accreditation Details:
              span.badge.badge-primary HOQ
            table(style='width:100%')
              tr
                th Sl.No
                th Cycle
                th Grade
                th CGPA
                th Year of Accreditation
                th Validity Period
              tr
                th 1
                th 1st Cycle
                td
                  .input-group
                    input.form-control(type='string', name='accreditation_details.first_cycle.grade', value=form.accreditation_details.first_cycle.grade)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.first_cycle.cgpa', value=form.accreditation_details.first_cycle.cgpa)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.first_cycle.year_of_accreditation', value=form.accreditation_details.first_cycle.year_of_accreditation)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.first_cycle.validity', value=form.accreditation_details.first_cycle.validity)
              tr
                th 2
                th 2nd Cycle
                td
                  .input-group
                    input.form-control(type='string', name='accreditation_details.second_cycle.grade', value=form.accreditation_details.second_cycle.grade)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.second_cycle.cgpa', value=form.accreditation_details.second_cycle.cgpa)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.second_cycle.year_of_accreditation', value=form.accreditation_details.second_cycle.year_of_accreditation)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.second_cycle.validity', value=form.accreditation_details.second_cycle.validity)
              tr
                th 3
                th 3rd Cycle
                td
                  .input-group
                    input.form-control(type='string', name='accreditation_details.third_cycle.grade', value=form.accreditation_details.third_cycle.grade)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.third_cycle.cgpa', value=form.accreditation_details.third_cycle.cgpa)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.third_cycle.year_of_accreditation', value=form.accreditation_details.third_cycle.year_of_accreditation)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.third_cycle.validity', value=form.accreditation_details.third_cycle.validity)
              tr
                th 4
                th 4th Cycle
                td
                  .input-group
                    input.form-control(type='string', name='accreditation_details.fourth_cycle.grade', value=form.accreditation_details.fourth_cycle.grade)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.fourth_cycle.cgpa', value=form.accreditation_details.fourth_cycle.cgpa)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.fourth_cycle.year_of_accreditation', value=form.accreditation_details.fourth_cycle.year_of_accreditation)
                td
                  .input-group
                    input.form-control(type='number', name='accreditation_details.fourth_cycle.validity', value=form.accreditation_details.fourth_cycle.validity)
            label 1.7 Date of Establishment of IQAC(DD/MM/YYYY):
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='date', name='iqac_establishment_date', value=form.iqac_establishment_date)
            label 1.8 AQAR for the year (for example 2010-11):
              span.badge.badge-primary HOQ
            .input-group
              textarea.form-control(type='string', name='aqar_of_the_year')  #{form.aqar_of_the_year}
            label 1.9 Details of the previous year’s AQAR submitted to NAAC after the latest Assessment and Accreditation by NAAC ((for example AQAR 2010-11submitted to NAAC on 12-10-2011):
              span.badge.badge-primary HOQ
            .input-group
              textarea.form-control(type='string', name='previous_aqar_submissions', rows=4) #{form.previous_aqar_submissions}
            label 1.10 Institutional Status:
              span.badge.badge-primary HOQ
            label University:
            .custom-control.custom-radio
              input#InsUniState.custom-control-input(type='radio', name='institutional_status.university', value='state', checked=(form.institutional_status.university == 'state'))
              label.custom-control-label(for='InsUniState') State
            .custom-control.custom-radio
              input#InsUniCentral.custom-control-input(type='radio', name='institutional_status.university', value='central', checked=(form.institutional_status.university == 'central'))
              label.custom-control-label(for='InsUniCentral') Central
            .custom-control.custom-radio
              input#InsUniDeemed.custom-control-input(type='radio', name='institutional_status.university', value='deemed', checked=(form.institutional_status.university == 'deemed'))
              label.custom-control-label(for='InsUniDeemed') Deemed
            .custom-control.custom-radio
              input#InsUniPri.custom-control-input(type='radio', name='institutional_status.university', value='deemed', checked=(form.institutional_status.university == 'private'))
              label.custom-control-label(for='InsUniPri') Private
            label Affiliated College:
            .custom-control.custom-radio
              input#AffClgYes.custom-control-input(type='radio', name='institutional_status.affliated_college', value='yes', checked=(form.institutional_status.affliated_college == 'yes'))
              label.custom-control-label(for='AffClgYes') Yes
            .custom-control.custom-radio
              input#AffClgNo.custom-control-input(type='radio', name='institutional_status.affliated_college', value='no', checked=(form.institutional_status.affliated_college == 'no'))
              label.custom-control-label(for='AffClgNo') No
            label Constituent College:
            .custom-control.custom-radio
              input#ConClgYes.custom-control-input(type='radio', name='institutional_status.constituent_college', value='yes', checked=(form.institutional_status.constituent_college == 'yes'))
              label.custom-control-label(for='ConClgYes') Yes
            .custom-control.custom-radio
              input#ConClgNo.custom-control-input(type='radio', name='institutional_status.constituent_college', value='no', checked=(form.institutional_status.constituent_college == 'no'))
              label.custom-control-label(for='ConClgNo') No
            label Autonomous college of UGC:
            .custom-control.custom-radio
              input#AutoClgYes.custom-control-input(type='radio', name='institutional_status.autonomous_college_of_ugc', value='yes', checked=(form.institutional_status.autonomous_college_of_ugc == 'yes'))
              label.custom-control-label(for='AutoClgYes') Yes
            .custom-control.custom-radio
              input#AutoClgNo.custom-control-input(type='radio', name='institutional_status.autonomous_college_of_ugc', value='no', checked=(form.institutional_status.autonomous_college_of_ugc == 'no'))
              label.custom-control-label(for='AutoClgNo') No
            label Regulatory Agency approved Institution:
            .custom-control.custom-radio
              input#RegAgeYes.custom-control-input(type='radio', name='institutional_status.regulatory_agency_approved_institute', value='yes', checked=(form.institutional_status.regulatory_agency_approved_institute == 'yes'))
              label.custom-control-label(for='RegAgeYes') Yes
            .custom-control.custom-radio
              input#RegAgeNo.custom-control-input(type='radio', name='institutional_status.regulatory_agency_approved_institute', value='no', checked=(form.institutional_status.regulatory_agency_approved_institute == 'no'))
              label.custom-control-label(for='RegAgeNo') No
            label Type Of Institution:
              span.badge.badge-primary HOQ
            label i)
            .custom-control.custom-radio
              input#CoEdu.custom-control-input(type='radio', name='institutional_status.type_of_institution1', value='co-ed', checked=(form.institutional_status.type_of_institution1 == 'co-ed'))
              label.custom-control-label(for='CoEdu') Co-Education
            .custom-control.custom-radio
              input#Men.custom-control-input(type='radio', name='institutional_status.type_of_institution1', value='men', checked=(form.institutional_status.type_of_institution1 == 'men'))
              label.custom-control-label(for='Men') Men
            .custom-control.custom-radio
              input#Women.custom-control-input(type='radio', name='institutional_status.type_of_institution1', value='women', checked=(form.institutional_status.type_of_institution1 == 'women'))
              label.custom-control-label(for='Women') Women
            br
            label ii)
            .custom-control.custom-radio
              input#Urban.custom-control-input(type='radio', name='institutional_status.type_of_institution2', value='urban', checked=(form.institutional_status.type_of_institution2 == 'urban'))
              label.custom-control-label(for='Urban') Urban
            .custom-control.custom-radio
              input#Rural.custom-control-input(type='radio', name='institutional_status.type_of_institution2', value='rural', checked=(form.institutional_status.type_of_institution2 == 'rural'))
              label.custom-control-label(for='Rural') Rural
            .custom-control.custom-radio
              input#Tribal.custom-control-input(type='radio', name='institutional_status.type_of_institution2', value='tribal', checked=(form.institutional_status.type_of_institution2 == 'tribal'))
              label.custom-control-label(for='Tribal') Tribal
            label Financial Status:
            .custom-control.custom-radio
              input#Aid.custom-control-input(type='radio', name='institutional_status.financial_status', value='grant_in_aid', checked=(form.institutional_status.financial_status == 'grant_id_aid'))
              label.custom-control-label(for='Aid') Grant-in-aid
            .custom-control.custom-radio
              input#Ugc2.custom-control-input(type='radio', name='institutional_status.financial_status', value='ugc_2f', checked=(form.institutional_status.financial_status == 'ugc_2f'))
              label.custom-control-label(for='Ugc2') UGC 2(f)
            .custom-control.custom-radio
              input#Ugc12.custom-control-input(type='radio', name='institutional_status.financial_status', value='ugc_12b', checked=(form.institutional_status.financial_status == 'ugc_12b'))
              label.custom-control-label(for='Ugc12') UGC 12B
            .custom-control.custom-radio
              input#AidSelf.custom-control-input(type='radio', name='institutional_status.financial_status', value='grant_in_aid_plus_self_finance', checked=(form.institutional_status.financial_status == 'grant_in_aid_plus_self_finance'))
              label.custom-control-label(for='AidSelf') Grant-in-aid + Self Financing
            .custom-control.custom-radio
              input#TotSelf.custom-control-input(type='radio', name='institutional_status.financial_status', value='totally_grant_id_aidance', checked=(form.institutional_status.financial_status == 'totally_self_finance'))
              label.custom-control-label(for='TotSelf') Totally Self-financing
            label 1.11 Type of Faculty/Programme:
              span.badge.badge-primary HOQ
            .custom-control.custom-checkbox.custom-control-inline
              input#Arts.custom-control-input(type='checkbox', name='faculty_and_programme_type.arts', checked=(form.faculty_and_programme_type.arts == 'on'))
              label2.custom-control-label(for='Arts') Arts
            .custom-control.custom-checkbox.custom-control-inline
              input#Science.custom-control-input(type='checkbox', name='faculty_and_programme_type.science', checked=(form.faculty_and_programme_type.science == 'on'))
              label2.custom-control-label(for='Science') Science
            .custom-control.custom-checkbox.custom-control-inline
              input#Commerce.custom-control-input(type='checkbox', name='faculty_and_programme_type.commerce', checked=(form.faculty_and_programme_type.commerce == 'on'))
              label2.custom-control-label(for='Commerce') Commerce
            .custom-control.custom-checkbox.custom-control-inline
              input#Law.custom-control-input(type='checkbox', name='faculty_and_programme_type.law', checked=(form.faculty_and_programme_type.law == 'on'))
              label2.custom-control-label(for='Law') Law
            .custom-control.custom-checkbox.custom-control-inline
                input#Peipe.custom-control-input(type='checkbox', name='faculty_and_programme_type.pei', checked=(form.faculty_and_programme_type.pei == 'on'))
                label2.custom-control-label(for='Peipe') PEI (Phys Edu)
            .custom-control.custom-checkbox.custom-control-inline
              input#TeiE.custom-control-input(type='checkbox', name='faculty_and_programme_type.tei', checked=(form.faculty_and_programme_type.tei == 'on'))
              label2.custom-control-label(for='TeiE') TEI (Edu)
            .custom-control.custom-checkbox.custom-control-inline
              input#Engineering.custom-control-input(type='checkbox', name='faculty_and_programme_type.engineering', checked=(form.faculty_and_programme_type.engineering == 'on'))
              label2.custom-control-label(for='Engineering') Engineering
            .custom-control.custom-checkbox.custom-control-inline
              input#HelSci.custom-control-input(type='checkbox', name='faculty_and_programme_type.health_science', checked=(form.faculty_and_programme_type.health_science == 'on'))
              label2.custom-control-label(for='HelSci') Health Science
            .custom-control.custom-checkbox.custom-control-inline
              input#Management.custom-control-input(type='checkbox', name='faculty_and_programme_type.management', checked=(form.faculty_and_programme_type.management == 'on'))
              label2.custom-control-label(for='Management') Management
            label Other(Specify):
            .input-group
              input.form-control(type='string', name='faculty_and_programme_type.others', value=form.faculty_and_programme_type.others)
            label 1.12 Name of the Affiliating University (for the Colleges):
              span.badge.badge-primary HOQ
            .input-group
              input.form-control(type='string', name='affliating_uni_name', value=form.affliating_uni_name)
            label 1.13 Special status conferred by Central/ State Government(UGC/CSIR/DST/DBT/ICMR etc):
              span.badge.badge-primary HOQ
            label Autonomy by State/Central Govt. / University:
            .input-group
              input.form-control(type='string', name='special_status.state_cental_govt_uni_autonomy', value=form.special_status.state_cental_govt_uni_autonomy)
            label University with Potential for Excellence:
            .input-group
              input.form-control(type='string', name='special_status.uni_with_potential_for_exellence', value=form.special_status.uni_with_potential_for_exellence)
            label DST Star Scheme:
            .input-group
              input.form-control(type='string', name='special_status.ugc_cpe', value=form.special_status.ugc_cpe)
            label UGC-CPE:
            .input-group
              input.form-control(type='string', name='special_status.ugc_ce', value=form.special_status.ugc_ce)
            label UGC-CE:
            .input-group
              input.form-control(type='string', name='special_status.dst_star_scheme', value=form.special_status.dst_star_scheme)
            label UGC-Special Assistance Programme:
            .input-group
              input.form-control(type='string', name='special_status.dst_fist', value=form.special_status.dst_fist)
            label UGC-Innovative PG programmes:
            .input-group
              input.form-control(type='string', name='special_status.ugc_special_assistance_program', value=form.special_status.ugc_special_assistance_program)
            label UGC-COP Programmes:
            .input-group
              input.form-control(type='string', name='special_status.ugc_innovative_pg_program', value=form.special_status.ugc_innovative_pg_program)
            label DST-FIST:
            .input-group
              input.form-control(type='string', name='special_status.ugc_cop', value=form.special_status.ugc_cop)
            label Any other (Specify):
            .input-group
              input.form-control(type='string', name='special_status.any_other', value=form.special_status.any_other)
            button.fixed-but(type='submit') SAVE
